.about{
    width: 100%;
    height: 101vh;
flex-direction: column;
justify-content: space-between;
background-color: rgb(0,212,255);
}
.about-sections{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90%;
    align-items: center;
    background-color: rgb(0,212,255);
}
.about-left{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-left h1{
color: white;   
font-weight: 100;
}
.about-left-card{
    width: 70%;
    height: 70%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
box-shadow: inset 1px 1px 5px 5px white;
background-color: rgba(0, 0, 0, 0.5);
transition: 1s;
border: 1px solid white;
}
.about-left-card:hover{
    box-shadow: inset 1200px 1px 5px 5px rgb(29, 29, 29);
    transition: 2s;
    transform: scale(1.2);
}
.about-swipe{
    transform: translateY(1em);
    color: black;
font-weight: 100;
font-size: 32px;
}
.about-right{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation-name: appear-l;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: both;
}
.about-image-container{
    display: flex;
    gap: 1em;
}
.about-title-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title-image h3{
    font-size: 16px;
    font-family:'Segoe UI';
    font-weight: 100;
}