.container-animated{
    background-color: gray;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.container-animated-2{
    position: relative;
    height: 100vh;
    width: 100%;
display: flex;
justify-content: space-between;
gap: 5em;
padding: 5em;
    background-color: rgb(0, 213, 255);
}
.container-animated-2 span{

    width: 10px;
    height: 20px    ;
    background-color: rgb(3, 102, 102);
    box-shadow: 0 -25px 2px 3px rgb(0, 0, 0);
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  border-top-left-radius:10%;
  border-top-right-radius:10%;
animation-name: animate;
animation-duration: 15s;
animation-iteration-count: infinite;
transform: translateY(-10em);
}
.container-animated-2 span:first-child{
    animation-delay: 1s;
}
.container-animated-2 span:nth-child(2){
    animation-delay: 1.5s;
}
.container-animated-2 span:nth-child(3){
    animation-delay: 3s;
}
.container-animated-2 span:nth-child(4){
    animation-delay: 1.2s;
}
.container-animated-2 span:nth-child(5){
    animation-delay: 1s;
}
.container-animated-2 span:nth-child(6){
    animation-delay: 2.9s;
}
.container-animated-2 span:nth-child(7){
    animation-delay: 0.7s;
}
.container-animated-2 span:nth-child(8){
    animation-delay: 2.7s;
}
.container-animated-2 span:nth-child(9){
    animation-delay: 1.3s;
}
.container-animated-2 span:nth-child(10){
    animation-delay: s;
}
.container-animated-2 span:nth-child(11){
    animation-delay: 0.9s;
}
.container-animated-2 span:nth-child(12){
    animation-delay: 1.2s;
}
.container-animated-2 span:nth-child(13){
    animation-delay: 2.5s;
}
.container-animated-2 span:nth-child(14){
    animation-delay: 0.6s;
}
.container-animated-2 span:nth-child(15){
    animation-delay: 3.1s;
}
.container-animated-2 span:nth-child(16){
    animation-delay: 0.5s;
}
.container-animated-2 span:nth-child(17){
    animation-delay: 1s;
}
.container-animated-2 span:nth-child(18){
    animation-delay: 0.9s;
}
@keyframes animate {
    0%{}
    100%{transform: translateY(100vh); background-color: black;}
}
.burble-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.burble{
    font-size: 32px;
    color:rgb(0, 0, 0);
    animation:burble 5s infinite both;
    background-color: white;
    height: 200px;
    transition: all;
    width: 280px;
    height: 240px;
}
@keyframes burble {
    0%{border-bottom-left-radius:44%; border-bottom-right-radius:18%; border-top-left-radius:35%; border-top-right-radius:42%;}
    25%{border-bottom-left-radius:42%; border-bottom-right-radius:15%; border-top-left-radius:43%; border-top-right-radius:21%;}
    50%{border-bottom-left-radius:22%; border-bottom-right-radius:43%; border-top-left-radius:19%; border-top-right-radius:36%;}
    100%{border-bottom-left-radius:44%; border-bottom-right-radius:18%; border-top-left-radius:35%; border-top-right-radius:42%;}

}