
/* KEYFRAMES */
@keyframes height {
  0%{height:20%;}
  100%{height: 35vh;}
}
@keyframes height- {
  0%{height:35vh;}
  100%{height: 20%;}
}
@keyframes about-swipe-y {
  0%{border-top-left-radius:10%;
    border-top-right-radius:10%;
    border-top:2px solid white;}
    100%{border-top-left-radius:0%;
      border-top-right-radius:0%;
      border-top:none}
}
@keyframes about-swipe-n {
  0%{border-top-left-radius:0%;
    border-top-right-radius:0%;
    border-top:none}
  100%{
border-top-left-radius:10%;
    border-top-right-radius:10%;
    border-top:2px solid white;
    }
}
@keyframes appear-nav {
0%{transform: translateX(10em); }
50%{}
100%{opacity: 1;}  
}

@keyframes appear-l {
  0%{transform: translateX(20em); z-index: -1; padding: 0; opacity: 0;}
  60%{opacity: 0; }
}
@keyframes appear-r {
  0%{transform: translateX(-20em); opacity: 0;}
  60%{opacity: 0;}
}

@keyframes burble {
  0%{transform: translateY(-2em);}
  50%{}
  100%{transform: translateY(-2em);}
}

@keyframes gradient {
  0%{}
  20%{filter: blur(1em);}
  100%{
    transform:scale(0); filter: blur(10em); opacity: 0;
  }
}
@keyframes gradient-about {
  0%{ }
  100%{
    transform: translateY(-30em) scale(0); opacity: 0;
  }
}

@keyframes appear {
  /* 0%{transform:translateY(-50em);} */
  0%{filter: blur(1em);opacity: 0; transform: scale(0.8o0p); }
  100%{opacity: 1; transform: scale(1)}
}
@keyframes extend {
  0%{}
  15%{border-left:1px solid white}
  30%{border-bottom: 1px solid white;}
  45%{border-right: 1px solid white;}
  60%{border-top:1px solid white}
}
@keyframes move {
  0%{}

  50% {
    transform:rotateY(180deg); opacity: 1;
  }
  100%{transform: rotate3d(0, 1, 0, 60deg) translateY(-10em) scale(0.6);opacity: 0;}
}
@keyframes rotate {
  0%{transform: rotateZ(0);}

100%{transform: rotateZ(360deg);}

}
/* KEYFRAMES */

/* KEYFRAME CLASS */
.extend{
  animation: extend 2s both infinite;
}
.height{
  animation: height 0.5s both;
}
.height-{
  animation: height- 0.5s both !important;
}
.about-swipe-y{
  animation:about-swipe-y 1s both;
}
.about-swipe-n{
  animation:about-swipe-n 1s both;
}
.burble{
  animation-name: burble;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.appear{
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.gradient{
  animation-name: gradient;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.gradient-about{
  animation-name: gradient-about;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.rotate{
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.appear-l{
animation: appear-l 1s both;
}
.appear-r{
animation: appear-r 1s both;
}
/* KEYFRAME CLASS */


/* RESET CSS */

#root{
  height: 100vh;
  width: 100%;
  background-color: #222728;
  cursor: none;

}
.App{
  height: 100%;
  scroll-behavior: smooth;
  
}

/* RESET CSS */



/* START CONTAINER */

.start-container{
  height: 100%;
  width: 100%;
  background-color:#222728;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color:white;
  transition:1s ease-in-out;
}
.start-total-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name:burble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
}

.start-container h3{
  font-weight: 200;
}
.start-image{
  width: 186px;
  height: 186px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url(./assets/images/start.jpg);
  background-position: center;
  background-size: cover;
  transition:all 2s;
}
.start-image:hover{
  transform: rotateZ(360deg);
  transition: all 2s;
}
.btn-neon{
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  padding: 15px 30px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  background: none;
  border: none;
  transition: 0.2s;
  cursor: none;
}
.btn-neon:hover{
  background: rgb(21, 21, 21);
  box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px black;
  transition-delay: 1s;
}
.btn-neon span{
  position: absolute;
  display: block;
}
#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
}
.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}
#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,white);
}
.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent, white);
}
.btn-neon:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,white);
}
.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.rrss{
  display: flex;
  gap: 1em;
  transform: translateY(1em);
}
.linkedin{
background: url(./assets/images/linkedin.png);
background-repeat: no-repeat;
background-position: center;
width:64px;
height:64px;
transition: 1s transform;
transform: scale(0.8);
}
.linkedin:hover{
  transform: scale(1);
  transition: 1s;
}
.ghub{
background: url(./assets/images/ghub.png);
background-repeat: no-repeat;
background-position: center;
width:64px;
height:64px;
transition: 1s transform;  
transform: scale(0.8);
}
.ghub:hover{
  transform: scale(1);
  transition: 1s;
}
.ghubwh{
background: url(./assets/images/githubwhite.png);
background-repeat: no-repeat;
background-position: center;
width:64px;
height:64px;
transition: 1s transform;  
transform: scale(0.8);
}
.linkedinwh{
  background: url(./assets/images/linkedinwhite.png);
background-repeat: no-repeat;
background-position: center;
width:64px;
height:64px;
transition: 1s transform;  
transform: scale(0.8);
}
/* START CONTAINER */

/* #HOME #ABOUT #PROJECTS */
#Home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  }

#About{
height: 100vh;
display:flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

#Projects{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100vh;
}

/* #HOME #ABOUT #PROJECTS */




/* HOME */
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
.home{
  height: 100vh;
  background-color: #222728;
  overflow-x: hidden;
}
.navs{
  width: 100%;
}
.nav-media{
  display: none;
  color:white;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.nav-links{
margin: 1em;
display: flex;
gap: 2em;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 24px;
  cursor: none;
  border-left: 3px solid white;
  padding: 0.3em;
}

.nav-cv{
  margin: 2em;
}

.nav-cv a{
  text-decoration: none;
  color: white;
  font-size: 24px;
}
.nav-link{
  letter-spacing: 0.5px;
  position: relative;
}
.nav-link:after{
  content: "";
  background-color: white;
  height: 3px;
width: 0;
left: 0;
bottom: -10px;
position: absolute;
transition: 0.3s;
}

.nav-link:hover:after{
  width: 100%;
  transition: 0.3s;
}

.home-total-container{
  display: flex;
  justify-content: start;
  transform: translateX(3em);
  width: 100%;
  align-items: center;
}
.home-right{
padding: 1em;
background-color:#151414;
width: 30em;
border-top-left-radius:10%;
border-top-right-radius:10%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border: 2px solid white;
box-shadow: 0 0 10px 10px #3e4244;
}
.home-right-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
color: white;
text-align: center;
height: 100%;
}
.home-right-text p{
  margin: 0;
}
.skills-title h1{
color:white;
font-weight: 100;
}
.skills{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 2em;
}
.home-container{
  display: flex;
  justify-content: start;
  gap: 3em;
}

.home-image{
  width: 286px;
  height: 286px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url(./assets/images/start.jpg);
  background-position: center;
  background-size: cover;
  transition:all 2s;
  box-shadow: 0 0 5px 1px white;
}

.home-image:hover{
  transform: rotateZ(360deg);
  transition: all 2s;
}

.home-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:white;
  font-size: 42px;
}

.home-text h3{
  font-weight: 200;
margin: 0;
}

.home-btn{
background:none;
border: none;
box-shadow:inset 2px -2px 0px 0px rgb(237, 236, 255);
font-size: 16px;
color: white;
padding: 0.5em;
font-size: 1em;
font-weight: 100;
transition: 1s;
border-radius: 0.4em;
cursor: none;
}
.home-btn:hover{
  transition: 1s;
  box-shadow:inset 500px -5px 2px 2px rgb(237, 236, 255);
color: rgb(0, 0, 0);
}

.swipe{
color: white;
font-size: 24px;
}
.swipe h3{
  font-weight: 100;
}
/* HOME */

/* ABOUT */

.about-container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 25% 35%;
  color: white;
}
.about-container .about-title{
  margin: 1em;
  display: grid;
  grid-template-rows: 30% 50% 20% ;
}
.about-container .about-title h1{
  font-weight: 400;
font-size: 60px;
}
.about-container .about-title h3{
  font-size: 22px;
  font-weight: 100;
}

.about-education{
    display: grid;
    grid-template-rows: 30% 50% 20% ;
}
.about-education h2{
font-weight: 400;
font-size: 60px;
}
.about-education ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
padding: 0;
}
.about-education ul li{
  font-size: 28px;
  font-weight: 400;
}
.about-education ul li p{
  font-size: 22px;
  font-weight: 100;
}
.about-skills{
  display: grid;
    grid-template-rows: 30% 50% 20% ;
}
.about-skills .icons{
  display: grid;
  flex-direction: row;
  grid-template-columns: 30% 30% 30%;

}
.about-skills .icons i{
  font-size: 64px;
  width: 64px;
  height: 64px;
}
.about-skills h2{
font-weight: 400;
font-size: 60px;
}
/* ABOUT */



/* FOOTER */
footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p{
  color:white;
  font-size: 24px;
}

/* FOOTER */




/* MEDIA QUERIES */


@media (max-width:768px) {
  #root{
    cursor: default;
  }
  h3{
font-size: 24px;
  }
.home-image{
  width: 100px;
  height: 100px;
}
.home-total-container{
  align-items: center;
  justify-content: center;
}
.home-container{
  flex-direction: column;
  align-items: center;
  transform: translateX(0);
  gap: 1em;
}
.home-text{
  height: 40%;
  font-size: 24px;
  align-items: center;
  justify-content: start;
}
.home-text h3{
  margin:0.5em;
}
.nav{
  display: none;
}
/* NAV MEDIA */


.nav-media{
  display: flex;
  width: 100%;
  justify-content: end;
  transform: translateX(-1em) translateY(1em);
}
.nav-icon{
  background: url(./assets/images/burger.png);
  height: 48px;
  width: 48px;
  transform: scale(0.5);
}
/* NAV MEDIA */
.btn-neon{
  font-size: 16px;
  font-weight: 500;
}
.home-total-container{
  flex-direction: column;
  gap: 1em;
}
.home-right{
  width: 17em;
  gap: 1em;
}
.home-right-text p{
  font-size: 12px;
  font-weight: 100;
}
footer p{
  font-size: 16px;
}
  /* MEDIA QUERIES */

}