#root{
  height: 100vh;
  width: 100%;
  background-color: rgba(0,212,255,1);
}
.App{
  height: 100%;
}

.start-container{
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(20,25,44,1) 10%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color:white;
  transition:1s ease-in-out;
}
.start-total-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name:burble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
}
@keyframes burble {
  0%{transform: translateY(-2em);}
  50%{}
  100%{transform: translateY(-2em);}
}
.gradient{
  animation-name: gradient;
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes gradient {
  0%{}
  100%{
    transform: translateY(-30em)
  }
}
.start-container h3{
  font-weight: 200;
}
.start-container .start-image{
  width: 286px;
  height: 286px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url(./assets/images/start.jpg);
  background-position: center;
  background-size: cover;
}
.start-container button{
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  font-weight: 100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}